* {
    margin: 0;
    outline: 0;
}

h1 {
    font-family: "Vulf Mono", monospace;
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    margin-top: 10px;
    max-width: 0rem;
    margin-left: 0px
}

h2 {
    font-family: "Vulf Mono", monospace;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -3px;
    color: #859A5C;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-family: "Vulf Sans", monospace;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    color: #859A5C;
    margin-top: -170px;
    margin-bottom: 130px;
    margin-left: 8px;
}
h5 {
    font-family: "Vulf Mono", monospace;
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0px;
    color: #859A5C;
    margin-top: -40px;
    margin-bottom: 0px;
    margin-left: 280px;
}

.text {
    font-family: "Vulf Sans", sans-serif;
    color: hsla(147, 18%, 20%, 1);
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.5;
}

h3 {
    font-family: "Vulf Mono", monospace;
    font-size: 2.5rem;
    font-style: bold;
    font-weight: 500;
}